.quote {
    border: 2px solid lightcoral;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.quote_content p {
    font-style: italic;
}
.quote  span {
    margin-top: 20px;
    display: inline-block;
}
.btns button{
    padding: 5px 10px;
    margin-left: 10px;
}
