.quote-form label {
    display: block;
    margin: 20px 0;
}
.quote-form p {
    font-weight: bold;
}

.categories {
    padding: 8px 10px;
    outline: none;
}

.author {
    width: 50%;
    padding: 10px;
    outline: none;
}

.quote-text {
    padding: 10px;
    width: 50%;
    height: 6rem;
    outline: none;
}
.quote-form button {
    display: block;
    margin-top: 20px;
    cursor: pointer;
    padding: 0.7rem 3rem;
}