.header {
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 20%;
    border: 1px solid purple;
    color: blue;
}